*{

margin: 0;
padding: 0;

}

.header{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(../images/background_image.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}
.container{

    display: flex;
    padding: 2% 6%;
    align-items: center;

}

.logo{

width: 50px;
height: 50px;


}
.menu{

    flex: 1;
    text-align: right;

}
.menu ul li{

    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.menu ul li a{

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.menu ul li::after{

    content: '';
    width: 0%;
    height: 2px;
    background: #4b59f7;
    display: block;
    margin: auto;
    transition: 0.5s;

}